html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;

}
.content-section {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 52, 52);
}

li {
    float: right;
    margin-right: 20px;
}

.nav-links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links:hover {
    background-color: rgb(42, 42, 42);
}


#logo {
    margin-left: 20px;
    float: left;
    color: white;
}

#logo a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 52, 52);
    color: white;
    text-align: center;
}

#admin-header {
    text-align: center;
    font-size: 3rem;
    color: rgb(77, 77, 77);
}

.login-panel {
    margin: auto;
    width: 50%;
    background-color: rgba(24, 42, 7, 0.356);
    border-radius: 25px;
}


.login-panel form {
    display: flex;
    flex-direction: column;
    padding: 10rem;
}
.login-panel form label{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.login-panel form input {
    margin-bottom: 2rem;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.login-panel form input:focus {
    outline:none;
}
.login-panel form button {
    padding: 10px;
    width: 20%;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(63, 177, 68);
    color: white;
    border: none;
}

.login-panel form button:focus {
    outline:none;

}

.admin-content-section {
    display: flex;
    min-height: 100vh;
}
.side-bar {
    flex-grow: 1;
    background-color: rgb(73, 72, 72);
}
.content-view {
    flex-grow: 9;
}

.side-menu-item {
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
    align-self: flex-end;
    font-size: 1.5em;
    height: 6rem;
    vertical-align: middle;
    border-bottom: 1px black solid;
}

.side-menu-item a {
    line-height: 3.5;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.content-view  h1 {
    font-size: 2rem;
    text-align: center;
    color: rgb(77, 77, 77);
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
}

.div-container {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}


.table-data {
    border-collapse: collapse;
    width: 100%;
}
  
.table-data td, .table-data th {
    border: 1px solid rgb(216, 216, 216);
    padding: 8px;
}
  
.table-data tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.table-data tr:hover {
    background-color: #ddd;
}
  
.table-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #269735;
    color: white;
}

.operation-icons {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.search-div {
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
}
#search-users {
    float: left;
    width: 12rem;
    height: 2rem;
    text-align: center;
}


.add-new-btn {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 10%;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(63, 177, 68);
    color: white;
    border: none;
}

.add-new-btn:focus {
    outline:none;

}



.popup-modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.popup-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
  

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.edit-div h1 {
    text-align: center;
    font-size: 2rem;
    color: rgb(49, 49, 49);
}
.edit-div form {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
}
.edit-div form label{
    color: rgb(37, 37, 37);
    font-size: 1rem;
    margin-bottom: 5px;
}
.edit-div form input {
    margin-bottom: 2rem;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: none;
}
.edit-div form input:focus {
    outline:none;
}
.edit-div form button {
    padding: 10px;
    width: 20%;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(63, 135, 177);
    color: white;
    border: none;
}

.edit-div form button:focus {
    outline:none;

}

.edit-div form select {
    margin-bottom: 2rem;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: none;
}
.edit-div form select:focus {
    outline:none;
}