html {
    padding: 0;
    margin: 0;

}
body {
    padding: 0;
    margin: 0;

}
.content-section {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 52, 52);
}

li {
    float: right;
    margin-right: 20px;
}

.nav-links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links:hover {
    background-color: rgb(42, 42, 42);
}


#logo {
    margin-left: 20px;
    float: left;
    color: white;
}

#logo a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 52, 52);
    color: white;
    text-align: center;
}

#admin-header {
    text-align: center;
    font-size: 3rem;
    color: rgb(77, 77, 77);
}

.login-panel {
    margin: auto;
    width: 50%;
    background-color: rgba(24, 42, 7, 0.356);
    border-radius: 25px;
}


.login-panel form {
    display: flex;
    flex-direction: column;
    padding: 10rem;
}
.login-panel form label{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.login-panel form input {
    margin-bottom: 2rem;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.login-panel form input:focus {
    outline:none;
}
.login-panel form button {
    padding: 10px;
    width: 20%;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(63, 177, 68);
    color: white;
    border: none;
}

.login-panel form button:focus {
    outline:none;

}

.admin-content-section {
    display: flex;
    min-height: 100vh;
}
.side-bar {
    flex-grow: 1;
    background-color: rgb(73, 72, 72);
}
.content-view {
    flex-grow: 9;
}

.side-menu-item {
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
    align-self: flex-end;
    font-size: 1.5em;
    height: 6rem;
    vertical-align: middle;
    border-bottom: 1px black solid;
}

.side-menu-item a {
    line-height: 3.5;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


